/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500&display=swap');
.App{
  background-color: #101010;
}
*{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
.nav-item{
  font-weight: 200;
  margin-left: 16px;
}
.nav-item .btn-my-works{
  padding: 8px;
  color: #101010;
}
.img-content{
  margin-top: 104px; 
  border-radius: 8px;
}

.img-content-mobile{
  margin-top: 16px; 
  border-radius: 8px;
  padding: 16px;
}
.img-content-ipad{
  margin-top: 32px;
  border-radius: 8px;
 
}

.content{
  color: #ffff;
  margin-top: 104px; 
}
.content-mobile{
  color: #ffff; 
}
.content-ipad{
  color: #ffff; 
  margin-top: 32px;
}
.name{
  font-weight: 200;
}
.social-prove{
  font-weight: 100;
}
.angka{
  margin-top: 16px;
  margin-left: 16vh;
  color: #ffffff;
}
.garis{
  border: 2.5px solid;
  border-color: #ffffff;
  border-radius: 5px;
}